.notification-container {
    background-color: #F3F3F3;
    margin: 1em 5em 1em 0;
    border: 1px solid #F3F3F3;
    border-radius: 10px;
    padding: 1em;
}
.notification-row {
    padding: 1em;
    text-align: center;
    margin-top:-1em;
}
.notification-title {
    cursor: pointer;
}
.notification-title-unreaded {
    font-weight: bold;
}
#notification-modal-wrapper {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.notification-modal {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border: 1px solid #fefefe;
    border-radius: 5px;
}
.notification-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -.5em;
}
.notification-close:hover,
.notification-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.notification-label A:after {
    display: inline-block;
    background: #ff5e00;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 5px;
    content: '';
}
