.ob-container {
    background-color: #F3F3F3;
    width: 100%;
    border: 1px solid #F3F3F3;
    border-radius: 5px;
    padding: 1em;
    margin-top: 1em;
}
.ob-no-padding-margin {
    padding: 0;
    margin: 0;
}

.ob-row{
    height: 15em;
}

.ob-span {
    color:white;
    border: 1px solid #F3F3F3;
    border-radius: 10px;
    padding: .2em 1em;
}

.ob-comment {
    overflow: auto;
    height: 9em;
}

.ob-photo-wrapper {
    width: 20em;
    height: 18em;
    overflow: none;
}

.ob-photo {
    display: block;
    width: 20em;
    height: 18em;
    border: 1px solid #F3F3F3;
    border-radius: 5px;
}
