.file-row {
    padding: 1em;
    border: 1px solid #F1F1F1;
    border-radius: 5px;
    margin: 1em 1em 1em 0;
}
.file-row:hover {
    background-color: #F1F1F1;
}
.btns-wrapper {
    text-align: right;
    margin-top: 2em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.btn-next,
.btn-prev {
    width: 12em;
}
.btn-prev {
    color: blue;
    border: 1px solid blue;
    border-radius: 5px;
}
.photo-wrapper {
    display: flex;
    flex-direction: row;
}
.photo-cell {
    width: 100px;
    height: 100px;
    border: 2px solid #F1F1F1;
    border-radius: 5px;
    margin: 1em;
}
.photo-cell > img {
    width: 100px;
    height: 100px;
}
.photo-delete {
    color: red;
    font-size: 2em;
    font-weight: bold;
    margin-top: -70px;
    margin-left: 45px;
    cursor: pointer;
}
.photo-field {
    visibility: hidden;
    width: .1em;
    height: .1em;
}
.photo-label {
    display: block;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 40%;
}
.photo-label:hover {
    background-color: #F1F1F1;
}
